#canvasDiv {
	float: left;
}

#inputArea {
	margin-left: 220px;
}

#text {
	background-color: #EEE;
	width: 100%;
	height: 30em;
}

#random {
	font-size: 6px;
}

#view {
	width: 200px;
	height: 100%;
}

.clear {
	clear: both;
}
